body {
	background: url('../images/diagonales_decalees.png'), #848484;
	color: lighten($primary-color, 16);
	// background-color: ;
	text-rendering: optimizeLegibility;
	font-family: $bodyFont;
	font-size: 18px;
	line-height: 1.16;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $headerFont;
}

h1, h2, h3 {
	text-shadow: 1.2px 1.2px 0px $black;
	color: $primary-color;
}

h1 {
	text-shadow: 0.2px 2px 0px $white;
}

a {
	color: $white;
	transition: color 0.3s ease-out;
		&:hover {
			color: darken($white, 26);
		}
}

.row {
	max-width: 68em;
}

.wood {
	// background-image: url('../images/dark_wood.png');
}

header {
	padding: $step2 + em;
	width: 100%;
		h1 {
			max-width: 50%;
				img {
					width: 100%;
				}
		}
		nav {
			min-width: 50%;
			margin: 0 auto;
			overflow: hidden;
				ul {
					overflow: hidden;
					list-style: none;
					margin: 0;
					padding: 0;
					float: right;
					border-bottom: 2px solid $darkBlue;
						li {
							float: left;
							margin: 0 0 0 $step3 + em;
							padding: 0 $step-2 + em;
							// background-color: $darkBlue;
							// border-radius: 3px;
								a {
									text-decoration: none;
									color: $darkBlue;
								}

						}
				}
		}
}

#contentWrap, #pageFooter {
	padding: 0 13px;
}

#sideBarWrap {
	overflow: hidden;
		ul {
			list-style: none;
			float: right;
			margin: 0;
			padding: 0;
			overflow: hidden;
			width: 100%;
				li {
					background-color: $darkBlue;
					text-align: right;
					font-size: $step2 + em;
					padding: $step-3 + em $step-2 + em;
					margin: $step-1 + em 0 0;
					border-radius: 3px 0px 0px 3px;
					min-width: 50%;
						&:first-of-type {
							margin-top: 0;
						}
						a {
							display: block;
							width: 100%;
						}
						table {
							width: 100%;
						}
						table td {
							font-size: $step1 + rem;
							text-align: left;
						}
				}
		}

}

.image_wrap img {
	width: 100%;
}

#attSliderWrapper {
	margin-top: $step2 + em;
	float: right;
	width: 50%;
	background-color: $darkBlue;
	border-radius: 0 3px 3px;
	position: relative;
		div.image_wrap {
			width: 25%;
			float: left;
			display: inline;
			margin: 0 $step1 + rem $step-1 + rem 0;
			position: relative;
		}
		h2 {
			margin-bottom: 0;
			color: $white;
			text-shadow: 1.6px 2.2px 0px $black;
			position: relative;
		}
}

p {
	background-color: $darkBlue;
	padding: $step-1 + em;
	color: $white;
	border-radius: 3px;
}

.owl-carousel {
	padding-top: 0;
}